:root {
  /* If you add more custom values don't forget to update the array in customValues.ts */
  /* colors */
  --color-base: #2a2a2a;
  --color-base-secondary: #191919;
  --color-primary: white;
  --color-action: #af72ff;
  --color-warning: #ffa500;
  --color-link: #75c0ff;
  --color-error: #e74c3c;
  --color-text: white;
  --color-button-background: black;

  /* purple */
  --color-purple-0: #11001c;
  --color-purple-1: #190028;
  --color-purple-2: #220135;
  --color-purple-3: #32004f;
  --color-purple-4: #3a015c;

  /* font sizes */
  --font-size-xs: 9px;
  --font-size-sm: 13px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-h5: 22px;
  --font-size-h4: 27px;
  --font-size-h3: 34px;
  --font-size-h2: 43px;
  --font-size-h1: 53px;

  /* sizes */
  --size-x1: 4px;
  --size-x2: 8px;
  --size-x3: 12px;
  --size-x4: 16px;
  --size-x5: 20px;
  --size-x6: 24px;
  --size-x7: 28px;
  --size-x8: 32px;
  --size-x9: 36px;
  --size-x10: 40px;

  /* radius */
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;

  /* font weigh */
  transition-duration: 500ms;
}

[app-theme="dark"] {
}

[app-theme="light"] {
  --color-base: white;
  --color-text: black;
}

.ngd_transition {
  transition-duration: 400ms;
}

body {
  font-family: -apple-system, Poppins, sans-serif;
  background-color: var(--color-base);
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
